<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Videos</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="container">
        <h1>Videos</h1>
        <form id="generate-pdf-form">
            {{!-- <input type="text" name="name" placeholder="Enter your name" required> --}}
            <button type="submit">Generate PDF</button>
        </form>
        <div class="video-list">
            {{#each videos}}
            <div class="video-item {{#if this.isLocked}}locked{{/if}}">
                <iframe src="https://www.youtube-nocookie.com/embed/{{this.id}}?controls=0" title="{{this.title}}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
                <h3>{{this.title}}</h3>
                {{!-- <p>{{this.description}}</p> --}}
            </div>
            {{/each}}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Additional JavaScript can be added here if needed
        });
        document.getElementById('generate-pdf-form').addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const name = formData.get('name');

            const response = await fetch('/generate-pdf', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name })
            });

            console.log('response')

            if (response.ok) {
                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'certificate.pdf';
                document.body.appendChild(a);
                a.click();
                a.remove();
            } else {
                alert('Error generating PDF');
            }
        });

    </script>
</body>

</html>